footer {
    position: relative;
    width: 100%;
    left: 0px;
    top: 600px;
    height: 100px;

    background: #4ECDC4;
}

footer h3 {
    margin-bottom: 0%;
    padding-top: 3%;
    margin-left: 8%;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #292F36;
}