footer {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 916px;

    background: #4ECDC4;
}

footer h3 {
    margin-top: 2%;
    margin-left: 7.5%;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #292F36;
}