header {
    display: flex;
    height: 120px;
    left: 0px;
    top: 0px;

    background: #4ECDC4;
}

header h1 {
    display: flex;
    justify-self: left;
    margin-top: 1%;
    margin-left: 2%;

    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;

    color: #292F36;
}

header img {
    justify-self: right;
    width: 62.93px;
    height: 43.59px;
    margin-top: 3%;
    margin-left: 0%;
    margin-left: 60%;
}