.container-cartWthoutStock img {
    width: 316px;
    height: 285.9px;
    left: 221px;
    top: 135px;
}

.container-cartWthoutStock p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #292F36;
}